<main class='container'>
  <% photos.forEach(function (photo) { %>
    <a href='<%= photo.imagePath('large') %>' target='_blank'>
      <img src='<%= photo.imagePath('medium') %>'>
    </a>
  <% }) %>
  <% if (photos.length === 0) { %>
    <h3 class='text-center'>
      No photos yet! Check back in a bit.
    </h3>
  <% } %>
  <div>
    <% include pagination %>
  </div>
</main>
