<main class='container'>
  <% include ../subnav %>
  <h1>
    Posts
    <a class='btn btn-default btn-xs' href='/admin/posts/new'>+ New Post</a>
  </h1>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(function(post) { %>
        <tr>
          <td><a class='btn btn-default btn-xs' href='/admin/posts/<%= post.id %>'>Edit</a></td>
          <td><%= post.title %></td>
          <td><%= post.published_on ? moment(post.published_on).format('ll') : 'Not Published' %></td>
          <td><%= post.user.name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

